
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Library/target/classes/edu/eci/cvds/tdd/library/loan/LoanStatus.class
Library/target/jacoco.exec
Library/target/Library-1.0-SNAPSHOT.jar
Library/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Library/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Library/target/classes/edu/eci/cvds/tdd/library/loan/LoanStatus.class
Library/target/classes/edu/eci/cvds/tdd/library/loan/LoanStatus.class
Library/target/site/jacoco/edu.eci.cvds.tdd.library.book/Book.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.book/Book.java.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.book/index.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.book/index.source.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.loan/index.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.loan/index.source.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.loan/Loan.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.loan/Loan.java.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.loan/LoanStatus.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.loan/LoanStatus.java.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.user/index.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.user/index.source.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.user/User.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library.user/User.java.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library/index.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library/index.source.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library/Library.html
Library/target/site/jacoco/edu.eci.cvds.tdd/App.html
Library/target/site/jacoco/edu.eci.cvds.tdd.library/Library.java.html
Library/target/site/jacoco/edu.eci.cvds.tdd/App.java.html
Library/target/site/jacoco/edu.eci.cvds.tdd/index.source.html
Library/target/site/jacoco/edu.eci.cvds.tdd/index.html
Library/target/site/jacoco/jacoco-resources/branchfc.gif
Library/target/site/jacoco/index.html
Library/target/site/jacoco/jacoco-resources/branchnc.gif
Library/target/site/jacoco/jacoco-resources/branchpc.gif
Library/target/site/jacoco/jacoco-resources/bundle.gif
Library/target/site/jacoco/jacoco-resources/class.gif
Library/target/site/jacoco/jacoco-resources/down.gif
Library/target/site/jacoco/jacoco-resources/greenbar.gif
Library/target/site/jacoco/jacoco-resources/group.gif
Library/target/site/jacoco/jacoco-resources/method.gif
Library/target/site/jacoco/jacoco-resources/package.gif
Library/target/site/jacoco/jacoco-resources/prettify.css
Library/target/site/jacoco/jacoco-resources/prettify.js
Library/target/site/jacoco/jacoco-resources/redbar.gif
Library/target/site/jacoco/jacoco-resources/report.css
Library/target/site/jacoco/jacoco-resources/report.gif
Library/target/site/jacoco/jacoco-resources/session.gif
Library/target/site/jacoco/jacoco-resources/sort.js
Library/target/site/jacoco/jacoco-resources/source.gif
Library/target/site/jacoco/jacoco-resources/sort.gif
Library/target/test-classes/edu/eci/cvds/tdd/library/LibraryTest.class
Library/target/surefire-reports/edu.eci.cvds.tdd.library.LibraryTest.txt
Library/target/site/jacoco/jacoco-resources/up.gif
Library/target/site/jacoco/jacoco-sessions.html
Library/target/site/jacoco/jacoco.csv
Library/target/site/jacoco/jacoco.xml
Library/target/surefire-reports/TEST-edu.eci.cvds.tdd.library.LibraryTest.xml
Library/target/surefire-reports/TEST-edu.eci.cvds.tdd.AppTest.xml
.idea/CVDS-lab3.iml
.idea/.name
